/*FAC303*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: #f9eeee;
    min-height: 100vh;
    
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
    width: 100%;
    display: flex;
    padding: 33px 3%;
    background: white;
    margin-bottom: 15%;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: #a3000a;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #575051;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
nav ul li a:hover{
    border-bottom: 3px solid #a3000a;
    color: #a3000a;
    border-radius:3px ;
}
main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20%;
    margin-top: 8%;
}
.text-bx{
    width: 55%;
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 5%;
   
}
.text-bx h1{
    font-size: 3rem;
   
}

.text-bx p{
    color: #000000;
    margin-top: 20px;
    margin-bottom: 8%;
}

.img-bx{
    width: 40%;
    margin-top: 5%;
}
.img-bx img{
    width: 90%;
}
/*BOTÕES DO HEADER*/


.hero-text a{
  display: inline-block;
  color: #ffffff;
  background-color: #a3000a;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
  text-decoration: none;

}
.hero-text a:hover{
 background: #a3000a;
 border: 1px solid #a3000a;
 transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid #a3000a;
    color: #FFF;
    margin-left: 10px;
}
  /*PROJETOS*/
  .middle-text{
  text-align: center;
  margin-top: 5%;
}
.middle-text h4{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #a3000a;
}
.middle-text h5{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5spx;
  color: #a3000a;
  margin-top: 10%;
}
.middle-text h2{
  font-size: 35px;
  margin-bottom: 0.5%;
  margin-top: 0%;

}
  .projetos-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
  }
  .row{
   
    padding: 10px 35px 15px;
    background-color: #a3000a;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #460307;
    align-items: center;
  }
  .row img{
    width: 30%;
    height: auto;
    transition: all .50s ease;
    cursor: pointer;
    max-width: 300px;
    margin-left: 35%;
    
  }
  .row h3{
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
    
  }
  .row p{
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 1.1rem;
    font-weight: 900;
    text-align: center;
  }
  .row .hero-text button{
    display: inline-block;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    width: 100%;
  }
 .row .hero-text .modal button{
    width: 10%;
    transition: none;
 }
 .row .hero-text .modal button:hover{
   text-decoration: none;
   border: none;
   background: none;
   color: #000;
   transition: none;
  }
  .row .hero-text button:hover{
    background: #460307;
    color: #fff;
    border: none;
    
  }

/*SOBRE*/
.sobre p{
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 2%;
  margin-bottom: 4%;
  text-align: center;
}
.heading{
  text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  margin-bottom: 0.5%;
  margin-top: 8%;
}
.sobre .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;

}
.sobre .box-container .box{
  border-radius: 1rem;
  box-shadow:0 3px 6px rgba(0, 0, 0, 0.23);
  border: #cfa301;
  padding: 1rem ;
  background:#fff;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sobre .box-container .box i{
  height: 2.5rem;
  width: 3rem;
  line-height: 2.5rem;
  font-size: 1.8rem;
  color: #fff;
  border-radius: .5rem;
  background-color: #a3000a;
  text-align: center;
  padding-bottom: .5rem;
}
.sobre .box-container .box h3{
  font-size:1.4rem;
  color: #a3000a;
  padding-bottom: .4rem;
  text-transform: capitalize;
  
}
.sobre .box-container .box span{
  color: #000;
  font-size: .9rem;
}
.sobre .box-container .box:hover{
  background-color: #FFF;
}
.sobre .box-container .box:hover h3{
  color: #000;
}
.sobre .box-container .box:hover span{
  color: #a3000a;
}
.sobre .box-container .box:hover i{
  color: #fff;
  background-color: #740008;
}


/*FIM SOBRE*/
/*FEIRAS*/
.feiras{
    margin-top: 5%;
    margin-bottom: 5%;
}
.feiras-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
    cursor: pointer;
    border-radius: 10px;
}
.row2{
    background: #ffffff;
    padding: 0px 0px 10px 0 px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #8A8A8A;
    transition: all .55s ease;  
}
.row2:hover{
  transform: translateY(-15px);
}
.row2 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 10px  10px;
}
.feiras-text{
    padding: 35px 20px;
}
.review button{
   color: #6A6D78;
   font-size: small;
   font-weight: 400;
   letter-spacing: 1px;
   display: inline-block;
   color: #ffffff;
   background-color: #a3000a;
   border: 1px solid transparent;
   padding: 12px 30px;
   line-height: 1.4;
   font-weight: 500;
   border-radius: 30px;
   text-transform: uppercase;
   transition: all .55s ease;
   text-decoration: none;
}
.review a{
  text-decoration: none;
  color: #ffffff;
}
.feiras-text h5{
    color: #a3000a;
    font-size: 15px;
    font-weight: 900;
}
.feiras-text h6{
    color: #000;
    font-size: 15px;
    font-weight: 700;
   line-height: 30px;
   letter-spacing: 1px;
   margin-bottom: 5px;
}
.rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.star i{
    color: #a3000a;
    margin-right: 2px;
    font-size: 17px;
}
.star i:hover{
  color: #FAC303;
  margin-right: 2px;
  font-size: 17px;
}

  /*EQUIPE*/
  .wrapper {
    max-width: 1000vh;
    width: 100%;
    position: relative;
    margin-bottom: 10%;
  }
  .wrapper i {
    top: 55%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #a3000a;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    color: #fff;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #8A8A8A;
  }
  .carousel .card .img {
    background: #fac303;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #cfa301;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
 
/*FOOTER*/
footer{
    margin: 0;
    background-color: #a3000a;
    padding: 2%;
}
.contato{
  display: flex;
  color: #f9eeee;
  margin-left: 0;
}
footer .contato ul{
  width: 25%;
  list-style: none ;
}
footer .contato h3{
  margin-bottom: 20px;
  font-weight: 600;
  align-items: center;
}
footer .contato p{
  padding: 20px;
}
 
footer .contato ul > p{
  margin-bottom: 40px;
}
footer .contato li{
  margin: 8px 0;

}
footer .contato a {
  color: #f9eeee;
  text-decoration: none;
}
/*MODAIS*/
.modal {
  position: fixed;
  color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  width: 700px;
  max-width: 80%;
  max-height: 82%;
  margin-top: 5%;
 
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a3000a;
  
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  align-items: center;
  color: #000;

}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: #000;
  font-size: 1.25rem;
  font-weight: bold;
  transition: none;
  
}
.modal-body h3{
  padding: 10px 15px ;
}
.modal-body p{
  padding: 10px 15px;
  color: #000000;
  font-size: 18px;
}
.modal-body h5{
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
 
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*FIM MODAIS*/
/*BOTÕES DO MODAL*/
.hero-text button{
  display: inline-block;
  color: #ffffff;
  background-color: #a3000a;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
  text-decoration: none;

}
.hero-text button:hover{
 background: #a3000a;
 border: 1px solid #a3000a;
 transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid #a3000a;
    color: #a3000a;
    margin-left: 10px;
}
/*IMAGENS DO MODAL*/
.modal img{
  margin-left: 30%;
  margin-top: 1rem ;
  width: 40%;
  height: auto;
  align-items: center;

}

/*ENTRE EM CONTATO*/
.containerc {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  background-color: #fafafa;
  /*overflow: hidden;*/
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 3%;
 
}

.form {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position:unset;
}

.contact-form {
  background-color: #a3000a;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #740008);
  position: relative;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #a3000a;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
 
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #a3000a;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #a3000a;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
  
}

.contact-info .title {
  color: #a3000a;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #740008, #a3000a);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #a3000a;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #a3000a, #a3000a);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}



@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .containerc {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

/*FIM CONTATO*/

  
@media (max-width:970px) {
    nav .menu-icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s ease-in;
        background-color: #a3000a;
    }
    nav ul.active{
        transform: translateX(0);
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-size: 18px;
        color: white;
    }
    nav ul li a:hover{
        border-bottom: 3px solid #ffffff;
        color: #ffffff;
        border-radius:3px ;
    }
    main{
        flex-direction: column;
    }
    .text-bx,
    .img-bx{
        width: 100%;
        text-align: center;
        margin-top: 10%;
    }
    .text-bx{
        margin-bottom: 40px;
    }
    .text-bx .input-bx{
        justify-content: center;
    }
    .logo{
        width: 70%;
    }
    .hero-text a{
        margin:10px ;
        transition: all .55s ease;
    }
    .row .hero-text a{
        margin-left: 25%;
      }
    footer .contato{
      flex-direction: column;
    }
    footer .contato ul{
      width: 100%;
      margin-bottom: 30px;
    }
    .modal .modal-header .modal-body{
      width: 30%;
      height: auto;
    }
    .modal .modal-body p{
      font-size: small;
    }
    .modal-header h2{
      font-size: large;
      color: #a3000a;
      height: max-content;
    }
    footer{
      columns: 1;
    }
 
} 
@media screen and (max-width: 900px) {
    .wrapper{
        width: 90%;
        align-items: center;
        margin-left: 15px;
    }
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }

@media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
