
body{
  background-color: #a3000a;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;

}


.area-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  border-radius: 10px;
  width: 355px;
  height: 320px;
  padding: 35px;

}

.login form{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.login input{
  margin-top: 10px;
  background-color: #E8E5E5;
  padding-left: 10px;
  color: #a3000a;
  border: none;
  height: 45px;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Poppins',sans-serif;
}

.login img{
  width: 65px;
  height: auto;
}

input::placeholder{
  color: #a3000a;
  font-size: 1rem;
  
}

form [type="submit"]{
  display: block;
  background-color: #a3000a;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: 100;
  width: 100%;
}
form [type="submit"]:hover{
  background-color: #fac303;
}
p{
  color: #a3000a;
  font-weight: bold;
}

a{
  color: #fac303;
  text-decoration: none;
  margin-left: 10px;
}